#Exclude the following files for Visual DataFlex Projects
####################################
*/AppSrc/*.dep
*/AppSrc/*.err
*/AppSrc/*.fld
*/AppSrc/*.pbg
*/AppSrc/*.pdp
*/AppSrc/*.pkd
*/AppSrc/*.prn
*/AppSrc/*.prp
*/AppSrc/*.x64.dep
*/AppSrc/*.x64.err
*/AppSrc/*.x64.fld
*/AppSrc/*.x64.pbg
*/AppSrc/*.x64.pdp
*/AppSrc/*.x64.pkd
*/AppSrc/*.x64.prn
*/AppSrc/*.x64.prp
*/AppSrc/WebApp.prn
*/AppSrc/WebApp.dep

*/Data/*.cch
*/Data/*.bad
*/Data/*.hdr
*/Data/*.org
*/Data/*.k*
*/Data/*.dat
*/Data/MSSQLDrv.int
*/Data/DFConnId.ini

*/DDSrc/*.bak
*/DDSrc/Connection.ini

*/IdeSrc/

*/Programs/*.exe
*/Programs/*.dbg
*/Programs/*.log

**/_sgbak/

# specific for each deployed instance
*/.vs
SSO Demo/DfPkg
SSO Lib/DfPkg
SSO Demo/AppHtml/WebUI
Demo/AppHtml/CssThemes/Df_Material
Demo/AppHtml/WebUI
Demo/Migration.log
Demo/Data/reindex.log
Demo/DfPkg
Demo/Programs/l8w8jwt2.dll
Demo/Programs/l8w8jwt264.dll
Demo/Programs/libcrypto-3.dll
Demo/Programs/libcrypto-3-x64.dll
Library/DfPkg
